<div class= "red_gradient">
  <div id = "results_background_image">

    <div class= "pages">

      <div class="page_headers"> Add new result </div>

      <div class="page_box">

        <form action="/athletes_events" method="post">

          <label for="athlete_id" class= "box_content_blue">Competitor</label>
          <select name="athlete_id">
            <% @athletes.each do |athlete|%>
            <option value="<%= athlete.id %>"><%= athlete.name %></option>
            <% end %>
          </select>


          <label for="event_id" class= "box_content_blue">Event</label>
          <select name="event_id">
            <% @events.each do |event|%>
            <option value="<%= event.id %>"><%= event.name %></option>
            <% end %>
          </select>


          <label for="athlete_finishing_position" class = "box_content_blue">Finishing position</label>
          <input type="number" name= "athlete_finishing_position" id= "text_box">


          <div class= "save_button_container">
            <input type='submit' value="update result" id="save_button">
          </div>
        </form>
        
      </div>

    </div>
  </div>
</div>

