<div class= "blue_gradient">
  <div id = "athletes_background_image">

    <div class= "pages">

      <div class="page_headers"> Add new competitor </div>

      <div class="page_box">

        <form action="/athletes" method="post">

          <div class= "row">

           <label for="name" class = "box_content_blue">Student name:</label>
           <input type="text" name="name" id= "text_box">

           </div>

           <div class= "row">

           <label for="nation_id" class= "box_content_blue">School:</label>
           <select name="nation_id">
             <% @nations.each do |nation|%>
             <option value="<%= nation.id %>"><%= nation.name %></option>
             <% end %>
           </select>

         </div>

         <div class= "row">

           <label for="avatar_url" class= "box_content_blue">Choose an avatar</label>

           <div class= "row">

             <div class="col-2">
               <img src="/student_avatars/rio_avatars.png" alt="avatar">
               <input type="radio" name="avatar_url" value= "/student_avatars/rio_avatars.png">
             </div>

             <div class="col-2">
               <img src="/student_avatars/rio_avatars_1.png" alt="avatar">
               <input type="radio" name="avatar_url" value= "/student_avatars/rio_avatars_1.png" >
             </div>

             <div class="col-2">
               <img src="/student_avatars/rio_avatars_2.png" alt="avatar">
               <input type="radio" name="avatar_url" value= "/student_avatars/rio_avatars_2.png">
             </div>

             <div class="col-2">
               <img src="/student_avatars/rio_avatars_3.png" alt="avatar">
               <input type="radio" name="avatar_url" value= "/student_avatars/rio_avatars_3.png" >
             </div>

             <div class="col-2">
               <img src="/student_avatars/rio_avatars_4.png" alt="avatar">
               <input type="radio" name="avatar_url" value= "/student_avatars/rio_avatars_4.png" >
             </div>

             <div class="col-2">
               <img src="/student_avatars/rio_avatars_5.png" alt="avatar">
               <input type="radio" name="avatar_url" value= "/student_avatars/rio_avatars_5.png" >
             </div>

             <div class="col-2">
               <img src="/student_avatars/rio_avatars_6.png" alt="avatar">
               <input type="radio" name="avatar_url" value= "/student_avatars/rio_avatars_6.png" >
             </div>

             <div class="col-2">
               <img src="/student_avatars/rio_avatars_7.png" alt="avatar">
               <input type="radio" name="avatar_url" value= "/student_avatars/rio_avatars_7.png" >
             </div>


           </div>

           <div class= "save_button_container">
           <input type='submit' value="add athlete" id="save_button">
           </div>

         </form>

       </div>

     </div>
   </div>
 </div>

