div {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  text-align: left;
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #074C84;
  width: 100%;
}

table tr, td{
  border: 3px solid #F9B035;
  padding: 10px;
}

table a {
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #074C84;
  text-decoration: none;
}

table a:hover {
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #F9B035;
}

header {
  width:100%;
  height: inherit;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  display:block;
  border-bottom: 5px solid #F9B035;
}

.grid_container {
  width: 100%;
  max-width: 2560px;
  background: rgba(255, 255, 255, 0);
}

.row:before, 
.row:after {
  content:"";
  display: table ;
  clear:both;
}
[class*='col-'] {
   float: left;
   min-height: 1px; 
   width: 8.33%; 
   padding: 10px;
   align-content: center;
}
.col-1{
   width: 8.33%;
}
.col-2{
   width: 16.66%; 
}
.col-3{
   width: 25%; 
}

.col-4{
   width: 33.33%;
}
.col-5{
   width: 44.66%;
}
.col-6{
   width: 50%;
}
.col-7{
  width: 58.33%; 
}
.col-8{
  width: 66.66%; 
}
.col-9{
  width: 75%; 
}
.col-10{
  width: 83.33%;
}
.col-11{
  width: 91.66%;
}
.col-12{
  width: 100%;
}

.logo{
  text-align: center;
}

.nav{
  font-family: 'Pacifico', sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: #074C84;
  text-align: center;
  padding-top: 70px;
}

.nav a {
  color: #074C84;
  text-decoration: none;
}

.nav a:hover {
  color:#F9B035;
  text-decoration: none;
}

.pages {
  padding-top: 250px;
  max-width: 100%;
  max-height: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

.page_headers {
  font-family: 'Pacifico', sans-serif;
  font-size: 60px;
  font-weight: 900;
  color: #074C84;
  text-align: left;
}

.home_page_header {
  font-family: 'Pacifico', sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #F9B035;
  text-align: center;
}

.page_content_yellow {
  font-family: 'Arimo', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #F9B035;
}

.page_content_yellow a {
  font-family: 'Arimo', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #F9B035;
  text-decoration: none;
}

.page_content_yellow a:hover {
  color: #074C84;
}

.sub_nav {
  margin: 20px;
  text-align: right;  
}

.sub_nav a {
  font-family: 'Arimo', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #074C84;
  text-decoration: none;
}

.sub_nav a:hover {
  font-family: 'Arimo', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #F9B035;
  text-decoration: none;
}

#search_button {
  width: 100px;
  background-color: #F9B035;
  border-radius: 5px;
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  border: 5px solid #F9B035; 
  cursor: pointer;
}

#text_box {
  width: 200px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 5px solid #F9B035;
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
  color: #074C84;
}

.page_content_blue {
  font-family: 'Arimo', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #074C84;
  text-align: center;
}

.edit_link a {
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #074C84;
  text-align: center;
}

.edit_link a:hover {
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #F9B035;
  text-align: center;
}

.page_tile {
  background: rgba(255, 255, 255, 0.8);
  border: 5px solid #074C84;
  padding: 20px;
  margin: 20px;
/*  display: flex;
  flex-wrap: wrap;*/
  text-align: center;
  height: 100%;
}

.page_tile img {
  width: 300px;
  height: 214.29px;
}

.event_page_tile {
  background: rgba(255, 255, 255, 0.8);
  border: 5px solid #074C84;
  padding: 20px;
  margin: 20px;
/*  display: flex;
  flex-wrap: wrap;*/
  text-align: center;
  height: 5em;
}

.event_page_tile_text {
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #074C84;
  text-align: center;
  text-transform: uppercase;
}

.page_box {
    background: rgba(255, 255, 255, 0.8);
    border: 5px solid #074C84;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    text-align: left;
}

.page_box img {
  width: 175px;
  height: 125px;

}

.save_button_container {
  text-align: center;
}

#save_button {
  width: 200px;
  background-color: #F9B035;
  border-radius: 5px;
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  border: 5px solid #F9B035; 
  cursor: pointer;
}

.school_button_container {
  position: fixed;
  padding-left: 450px;
  padding-top: 50px;
}

#school_button {
  width: 200px;
  background-color: #074C84;
  border-radius: 5px;
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  border: 5px solid #074C84; 
  cursor: pointer;
  align-self: center;
  margin-left: 450px;
  margin-top: 50px;
}

#school_button a {
  background-color: #074C84;
  border-radius: 5px;
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  border: 5px solid #074C84; 
  cursor: pointer;
}

.edit {
  width: 100px;
  height: 100px;
  text-align: right;
}

.edit a {
  font-family: 'Arimo', sans-serif;
  font-size: 25px;
  color:#F9B035;
  text-decoration: none;
}

.edit a:hover {
  color: #074C84;
}

.delete {
  width: 100px;
  height: 100px;
  text-align: right;
}

.delete a {
  font-family: 'Arimo', sans-serif;
  font-size: 25px;
  color:#E73652;
  text-decoration: none;
}

.delete a:hover {
  color: #074C84;
}

.box_content_blue {
  font-family: 'Arimo', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #074C84;
  text-align: center;
  line-height: 200%;
}

.profile_box {
 background: rgba(255, 255, 255, 0.8);
 border: 5px solid #074C84;
 padding: 20px;
 margin: 20px;
 display: flex;
 flex-wrap: wrap;
 height: 750px;
 text-align: center;
}

.profile_box img {
  width: 350px;
  height: 250px;
}

.page_tile_text {
  text-transform: uppercase;
}

.blue_gradient {
  background: linear-gradient(#ffffff, #0882C6);
}

.yellow_gradient {
  background: linear-gradient(#ffffff, #F9B035);
}

.red_gradient {
  background: linear-gradient(#ffffff, #E83B68);
}

.green_gradient {
  background: linear-gradient(#ffffff, #00A361);
}

#home_background_image {
  height: 150em;
  width: 150em;
  background: url('backgrounds/home_page_background.png') no-repeat center center fixed;
  background-size: cover;
  overflow-y: scroll;
}

#athletes_background_image {
  height: 80em;
  width: 80em;
  background: url('backgrounds/athletes.png') no-repeat center center fixed;
  background-size: cover;
  overflow-y: scroll;
}

#events_background_image {
  height: 80em;
  width: 80em;
  background: url('backgrounds/event_background_image.png') no-repeat center center fixed;
  background-size: cover;
  overflow-y: scroll;
}

#nations_background_image {
  height: 80em;
  width: 80em;
  background: url('backgrounds/nation_background.png') no-repeat center center fixed;
  background-size: cover;
  overflow-y: scroll;
}

#results_background_image {
  height: 80em;
  width: 80em;
  background: url('backgrounds/results_background.png') no-repeat center center fixed;
  background-size: cover;
  overflow-y: scroll;
}





