<0>Add a new athlete</p>

<form action="/athletes" method="post">

 <label for="name">Name:</label>
 <input type="text" name="name">

 <label for="nation_id">From what Nation</label>
 <select name="nation_id">
  <% @nations.each do |nation|%>
   <option value="<%= nation.id %>"><%= nation.name %></option>
 <% end %>
 
 </select>
 <input type='submit' value="Add athlete">
</form>