<0>Add a new athlete</p>

<form action="/athletes" method="post">

 <label for="name">Name:</label>
 <input type="text" name="name">

 <label for="avatar_url">Please pick your avatar</label>

 <img src="/student_avatars/rio_avatars.png" alt="avatar">
 <input type="checkbox" name="avatar_url" value= "/student_avatars/rio_avatars.png" >
 <br>

 <img src="/student_avatars/rio_avatars_1.png" alt="avatar">
 <input type="checkbox" name="avatar_url" value= "/student_avatars/rio_avatars_1.png" >
 <br>

 <img src="/student_avatars/rio_avatars_2.png" alt="avatar">
 <input type="checkbox" name="avatar_url" value= "/student_avatars/rio_avatars_2.png" >
 <br>

 <img src="/student_avatars/rio_avatars_3.png" alt="avatar">
 <input type="checkbox" name="avatar_url" value= "/student_avatars/rio_avatars_3.png" >
 <br>

 <img src="/student_avatars/rio_avatars_4.png" alt="avatar">
 <input type="checkbox" name="avatar_url" value= "/student_avatars/rio_avatars_4.png" >
 <br>

 <img src="/student_avatars/rio_avatars_5.png" alt="avatar">
 <input type="checkbox" name="avatar_url" value= "/student_avatars/rio_avatars_5.png" >
 <br>

 <img src="/student_avatars/rio_avatars_6.png" alt="avatar">
 <input type="checkbox" name="avatar_url" value= "/student_avatars/rio_avatars_6.png" >
 <br>

 <img src="/student_avatars/rio_avatars_7.png" alt="avatar">
 <input type="checkbox" name="avatar_url" value= "/student_avatars/rio_avatars_7.png" >
 <br>

 <label for="nation_id">From what Nation</label>
 <select name="nation_id">
  <% @nations.each do |nation|%>
   <option value="<%= nation.id %>"><%= nation.name %></option>
 <% end %>
 
 </select>
 <input type='submit' value="Add athlete">
</form>