<div class= "yellow_gradient">
  <div id = "events_background_image">

    <div class= "pages">

      <div class="page_headers">Edit <%= @event.name %></div>

      <div class="page_box">

        <form action="/events/<%= @event.id %>" method="post">

          <div class= "row">
            <input type="hidden" name="_method" value="put">
            <label for="name" class= "box_content_blue">Challenge name</label>
            <input type="text" name="name" value="<%= @event.name %>" id= "text_box">
          </div>

          <div class= "row">
            <label for="type" class= "box_content_blue">Type:</label>
            <input type="text" name="type" value="<%= @event.type %>" id= "text_box">
          </div>

          <div class= "save_button_container">
            <input type='submit' value="Update challenge">
          </div>

        </form>

      </div>
    </div>
  </div>
</div>