<div class= "yellow_gradient">
  <div id = "events_background_image">

    <div class= "pages">
      <div class="page_headers"> Challenges </div>

      <div class = "page_content_blue">

        <div class= "sub_nav"><a href="events/new">+ new challenge</a></div>

        <form method="get">
          find challenge
          <input name="search" value="" type="text" id="text_box"/>
          <input type="submit" value="search" id="search_button"/>
        </form>

      </div>

      <div class="page_content_yellow">

        <% @events.each do |event| %> 
        <div class= "col-3 event_page_tile">
          <div class= "event_page_tile_text"><a href="/events/<%= event.id %>"><%= event.name %></a></div>
          <div class= "event_page_tile_text"><%= event.type %></a></div>
          <div class= "event_edit_link"><a href="/events/<%= event.id %>/edit">edit</a></div>
        </div>
        <% end %>


      </div>

    </div>

  </div>
</div>