<div class= "yellow_gradient">
  <div id = "events_background_image">

    <div class= "pages">

      <div class="page_headers"> Add new challenge</div>

      <div class="page_box">

        <form action="/events" method="post">

          <label for="name" class = "box_content_blue">Name</label>
          <input type="text" name="name" id= "text_box">

          <label for="type" class = "box_content_blue">Type</label>
          <input type="text" name="type" id= "text_box">

        </select>
        <input type='submit' value="add new challenge" id="save_button">
      </form>

    </div>

  </div>
</div>
</div>