<div id= "home_background_image">

  <div class = "pages">

    <div class="home_page_header">Welcome to Edinburgh schools Rio challenge</div>

    <div id="school_button"><a href="/nations">add your school to begin</a></div>

  </div>
</div>


