<div class= "green_gradient">
  <div id = "nations_background_image">

    <div class= "pages">

<p>Nations</p>

<% @nations.each do |nation| %> 
    <a href="/nations/<%= nation.id %>"><%= nation.name %></a>
<% end %>

<form method="get">
  Search by nation name
  <input name="search" value="" type="text" />
  <input type="submit" value="search" />
</form>

</div>
</div>
</div>