<div class= "green_gradient">
  <div id = "nations_background_image">

    <div class= "pages">

      <div class="page_headers"> Schools </div>

      <div class = "page_content_blue">

        <div class= "sub_nav"><a href="nations/new">+ new school</a></div>

        <form method="get">
          Search school name
          <input name="search" value="" type="text" id="text_box"/>
          <input type="submit" value="search" id="search_button"/>
        </form>

        <div class="page_content_yellow">

          <% @nations.each do |nation| %> 
          <div class= "col-3 page_tile">
            <div class = "page_tile_text"><a href="/nations/<%= nation.id %>"><%= nation.name %></a></div>
            <div class= "edit_link"><a href="/nations/<%= nation.id %>/edit">edit</a></div>
          </div>
          <% end %>

        </div>

      </div>
    </div>
  </div>
</div>