<div class= "green_gradient">
  <div id = "nations_background_image">

    <div class= "pages">

      <div class="page_headers"> Add new school </div>

      <div class="page_box">

        <form action="/nations" method="post">
        <label for="name">School name:</label>
         <input type="text" name="name">
       </select>

       <input type='submit' value="Add Nation">
     </form>

   </div>

 </div>
</div>
</div>