<div class= "green_gradient">
  <div id = "nations_background_image">

    <div class= "pages">

      <div class="page_headers"> Add new school </div>

      <div class="page_box">

        <form action="/nations" method="post">
        <label for="name" class = "box_content_blue">School name:</label>
         <input type="text" name="name" id= "text_box">
       </select>

       <input type='submit' value="add school" id="save_button">
     </form>

   </div>

 </div>
</div>
</div>